<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<a href="/dorms/all">View Dormitory's Page</a>
<br>
<a href="/energy_meter/all">View Energy's Page</a>
<br>
<a href="/student/all">View Students's Page</a>
<br>
<a href="/dorm_village/all">View Dorms Villages Page</a>
<br>
<a href="/query/query_1">Query 1 </a>
<br>
<a href="/query/query_2">Query 2 </a>
<br>
<a href="/query/query_3">Query 3  </a>
<br>
<a href="/query/query_4">Query 4 </a>
<br>
<a href="/query/query_5">Query 5 </a>
<br>
<a href="/query/query_6">Query 6  </a>
<br>
<a href="/village/all"> Query 7 </a>
<br>
<a href="/query/query_8">Query 8  </a>
<br>
<a href="/query/query_9">Query 9  </a>
<br>
<a href="/query/query_10">Query 10 </a>



</body>