<!DOCTYPE html>
<html>
<head>
    <title>Energy Meters - Add</title>
</head>
<body>
<h1>Edit The Energy Meter</h1>
<form action="/energy_meter/update" method="get">

    meter_name: <input
            id="meter_name"
            name="meter_name"
            type="text"
            value="<%= energy_meter.meter_name%>"

    />

    avg_annual_energy_consumed: <input
            id="avg_annual_energy_consumed"
            name="avg_annual_energy_consumed"
            type="text"
            value="<%= energy_meter.avg_annual_energy_consumed%>"

    />

    year: <input
            id="year"
            name="year"
            type="text"
            value="<%= energy_meter.year%>"
    />

    <input type="hidden"
           id="meter_id"
           name="meter_id"
           value="<%= energy_meter.meter_id %>"
    />

    <input type="submit" />


</form>
</body>
</html>