<!DOCTYPE html>
<html>
<head>
    <title> Query Number 3</title>
</head>
<body>
<h1> Query Number 3</h1>

<table border="1">
    <tr>
        <th>first name</th>
        <th>last name </th>
    </tr>
    <% for (var i = 0; i < results.length; i++) {%>  <tr>
        <td><%= results[i].first_name %></td>
        <td><%= results[i].last_name %></td>
        <%} %>
    </tr>
</table>
</body>
</html>
